:root {
    --ltext: #eee;
    --mtext: #999;
    --dtext: #777;
    --lcard: #333;
    --mcard: #2a2a2a;
    --dcard: #252525;
    --lcolo: #f94346;
    --mcolo: #ec1f23;
    --dcolo: #ff0000;

    --bacgc: #202020;
    --hlite: #ffff00;
    --althl: #ffffb1;
    --bdr: #ffffff55;
    --card1-color: #ffffff11;

    --left1: 1;
    --left2: 5;
    --middle: 16;
    --right: 4;
    --nav-height: 40px;
}

/* In mobile view, tap on the right ment to transition between the menu on top and the content on ::-ms-tooltip

In desktop view each page change will transition the menu gradient to a matching color */

* {
    box-sizing: border-box;
}

body {
    background-image: url(./Assets/image3A1000003046_Glitch.png);
    /* background-size: 5000px 3000px; */
    margin: 0;
    overflow: hidden;
    font-family: 'roboto';
    font-size: 18px;
}

.nm {
    position: relative;
    right: -15px;
    color: white;
    margin: 10px 0;
    font-size: 2rem;
}

.nav-container {
    user-select: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: #ffffff01;
    backdrop-filter: blur(20px);
    display: grid;
    grid-template-columns: 2fr 8fr 32fr 8fr;
    grid-template-rows: 5fr 3fr 3fr 10fr 5fr 180px 7fr 3fr 5fr;
    grid-template-areas: 
    "about2 about2 main nav"
    "etc left main about"
    "etc left main about"
    "etc left main about"
    "etc left main info"
    /* "etc left main heart"
    "etc left main header3" */
    "etc left main "
    "etc left main right"
    "etc left main right"
    "etc left main right"
    "header1 header1 main right"
    "float float main right";
    overflow: none;
    font-family: 'roboto';
    color: white;
    /* border: 5px solid var(--bdr);
    border-width: 0px 2px 0px 2px; */
    /* border-radius: px; */
    /* background-color: #2a2a2a33; */
    /* background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%); */
    /* background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(0,0,0,1) 100%); */
    /* background: radial-gradient(circle, rgba(183,195,255,1) 0%, rgba(0,0,0,1) 100%); */
    /* background: radial-gradient(circle, rgba(183,195,255,0.3) 0%, rgba(255,255,255,0.10) 49%, rgba(0,0,0,1) 100%); */
    /* background: linear-gradient(20deg, rgba(183,195,255,0.3) 0%, rgba(255,255,255,0.10) 49%, rgba(0,0,0,1) 100%); */
    /* background: linear-gradient(180deg, rgba(183,195,255,0.3) 0%, rgba(255,255,255,0.10) 49%, rgba(0,0,0,1) 100%); */
    /* background: linear-gradient(205deg, rgba(183,195,255,0.7) 0%, rgba(255,255,255,0.10) 49%, rgba(0,0,0,.5) 100%); */
    /* background: linear-gradient(0deg, rgba(183,195,255,0.3) 0%, rgba(255,255,255,0.10) 49%, rgba(0,0,0,1) 100%); */
    /* background-color: rgba(183,195,255,0.3) ; */
    /* filter: blur(21px); */
    /* background: linear-gradient(40deg, rgba(5,0,93,1) 0%, rgba(168,29,0,1) 100%); */
    /* !!!!!!!faves */
    background-color: rgba(183, 77, 233, 0.4);
    /* background: linear-gradient(90deg, rgba(131,58,180,.50) 0%, rgba(253,29,29,1) 50%, rgb(255, 255, 255, .10) 100%); */
    /* background: linear-gradient(90deg, rgba(255, 208, 0, 0.5) 0%, rgba(253,29,29,1) 50%, rgba(255, 253, 253, 0.1) 100%); */
    /* background: linear-gradient(90deg, rgba(255, 34, 0, 0.7) 0%, rgba(253,29,29,1) 50%, rgba(255, 253, 253, 0.1) 100%); */
    /* background: linear-gradient(90deg, rgba(255, 123, 0, 0.5) 0%, rgba(253,29,29,1) 50%, rgba(255, 253, 253, 0.1) 100%); */
}

.header2 {
    height: 100%;
    width: 100%;
    grid-area: header2;
    border: solid var(--bdr);
    border-width: 0 0 1px 0;
}

.header3 {
    height: 50px;
    grid-area: header3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* box-shadow: 1px 5px 10px black; */
    overflow: none;
    /* display: none; */
    column-gap: 5px;
}

.item3 {
    width: 100%;
    height: 100%;
    border: solid var(--bdr);
    /* border-width: 0 1px 1px 0 ; */
    align-self: center;
    justify-self: center;
    display: grid;
    align-items: center;
    justify-items: center;
    font-size: 1.3rem;  
    font-weight: 400;
}

.profile-button {
    width: 80%;
    height: 80%;
    border-radius: 5px;
    border: 1px solid white;
    display: flex;
    align-content: center;
    justify-content: center;
    display: none;
}

.item3:hover {
    border: none;
}

.item3-icon {
    height: 50px;
    display: none;
}

.heart {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-area: heart;
    height: 30px;
    width: 100%;
    justify-items: end;
    overflow: none;
}

.heart-item2 {
    grid-column: 1/3;
    height: 30px;
    position: relative;
    top: 10px;
    right: 10px;
    border-radius: 5px;
    background-image: url(./heart.svg);
    
}

.heart-item2:active {
    background-color: #ffffff11;
}

.about {
    grid-area: about;
    margin: auto;
    height: 80%;
    width: 80%;
    border: 10px solid white;
    border-radius: 50%;
    transition: width 3s, border 3s, box-shadow 3s;
    box-shadow: 1px 1px 20px #202020;
    z-index: 2;
}

/* .about-bg-top{
    grid-area: about;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid var(--bdr);
}

.about-bg{
    width: 90%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid var(--bdr);
} */

.about:hover {
    width: 0%;
    border: 15px solid black;
    box-shadow: -10px 20px 20px #202020;
}

.about2 {
    grid-area: about2;
    overflow: hidden;
    color: white;
    font-family: 'roboto';
    font-size: 1.8rem;
}

.header1 {
    grid-area: header1;
    overflow: hidden;
}

.logo {
    height: 90%;
    width: 90%;
}

.about2, .header1 {
    grid-column: 1/3;
    width: 100%;
    height: 100%;
    justify-items: start;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 8fr 3fr 2fr;
}

.exit:hover {
    scale: 120%;
    cursor: pointer;
    border-radius: 3px;
    background-color: #00000033;
}

/* .about2:hover {
    border-radius: 5px;
    border: 2px solid white;
} */

.about2-text {
    margin:0;
    display: relative;
    color: white;
    height: 200vh;
    justify-self: center;
    align-self: center;
}

.info {
    grid-area: info;
    color: solid white;
    border-width: 0 1px 0 1px;
    justify-self: center;
    color: white;
    font-family: 'roboto';
    font-size: 1.5rem;
    user-select: text;
    display: flex;
    flex-direction: column;
}

.info:hover {
    cursor: text;
}

.item {
    width: 35px;
    height: 35px;
    border: 1px solid white;
    border-radius: 50%;
    align-self: center;
    justify-self: center;
}

.item:hover {
    width: 38px;
    height: 38px;
    background-color: #ffffff33;
    cursor: pointer;
}

.left-nav1 {
    grid-area: etc;
    border: solid var(--bdr);
    border-width: 0 1px 0 0;
    display: grid;
    grid-template-rows: repeat(7, 1fr);
}

.circles {
    height: 40px;
    width: 40px;
    justify-self: center;
    align-self: center;
    border-radius: 50%;
}

.circles:hover {
    height: 42px;
    width: 42px;
    border-color: #fff;
    background-color: #ffffff11;
}


.left-nav2 {
    grid-area: left;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* 
.attributes {
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
}

.attribute {
    height: 20px;
    font-size: 10px;
    color: white;
    border-radius: 5px;
    border: 1px solid white;
} */

.cards {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 20fr 1fr;
    grid-template-rows: repeat(15, 1fr);
    /* background-color: var(--card1-color); */
    column-gap: 5px;
    row-gap: 2px;
    align-items: center;
}

.info-card {
    grid-column-start: 1;
    grid-column-end: 2;
    position: relative;
    width: 100%;
    height: 100vh;
    align-self: end;
    justify-self: center;
    border: solid white;
    border-width: 0 0 1px 0;
    opacity: 90%;
    overflow: hidden;
    display: none;
}

.search-card {
    grid-column-start: 2;
    grid-column-end: 10;
    position: relative;
    width: 100%;
    height: 70px;
    align-self: center;
    justify-self: center;
    border: 1px solid white;
    border-radius: 5px;
    opacity: 90%;
    overflow: hidden;
    display: none;
}

.settings-card {
    margin-left:5px;
    grid-column-start: 2;
    grid-column-end: 4;
    position: relative;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-items: start;
    border-radius: 5px;
    border: solid var(--bdr);
    border-width: 0px 1px 0px 0px;
    opacity: 90%;
    overflow: hidden;
    color: white;
    font-family: 'roboto';
    font-weight: 400;
    font-size: 1.1rem;
    /* text-shadow: 1px 1px 2px #202020; */
    display: grid;
    overflow: none;
    grid-template-columns: 1fr 15fr 3fr;
    box-shadow: 0 0 2px var(--bdr);
}

.settings-card-header {
    margin-left: 5px;
    grid-column-start: 1;
    grid-column-end: 4;
    position: relative;
    width: 100%;
    height:100%;
    align-items:center;
    justify-items: start;
    border: solid var(--bdr);
    border-width: 0px 0 0px 0;
    opacity: 90%;
    overflow: hidden;
    color: white;
    font-family: 'roboto';
    font-weight: 500;
    font-size: 1.5rem;
    /* text-shadow: 1px 1px 2px #202020; */
    display: grid;
    overflow: none;
    grid-template-columns: 5fr 1fr;
}

.settings-card:hover {
    background-color: #ffffff11;
}

.settings-card:active {
    background-color: #00000011;
}

.small {
    height: 20px;
    width: 20px;
    justify-self: center;
}

.nm2 {
    color: white;
    font-family: 'roboto';
    font-weight: 400;
    font-size: 1.7rem;
    text-align: middle;
    text-shadow: 1px 1px 2px #202020;
}

.card1:hover {
    width: 100%;
    position: relative;
    align-self: end;
    justify-self: center;
    /* border-radius: 5px;
    border: 2px solid white;
    background-color: #ffffff33; */
}

.image {
    height: 100%;
    width: 100%;
    z-index: -1;
}

.card {
    position: relative;
    width: 90%;
    height: 50px;
    align-self: end;
    justify-self: center;
    border-radius: 5px;
    /* border: 1px solid var(--bdr); */
    color: rgb(230, 230, 230);
    font-size: 1.2rem;
    font-weight: 400;
    display: grid;
    justify-items: start;
    align-items: center;
    overflow: hidden;
    box-shadow: 0 0 2px var(--bdr);
    background-color: #ffffff11;
}

.card-image {
    height: 100%;
    width: 100%;
    
}

.card:hover {
    width: 90%;
    justify-self: center;
    border-radius: 5px;
    /* border:2px solid white; */
    background-color: #ffffff33;
}

.right-nav {
    grid-area: right;
    margin-top: 20px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
    gap: 10px;
    overflow-y: scroll;
}

.sea {
    grid-area: sea;
    border: solid var(--bdr);
    border-width: 1px 0px 1px 0;
}

.ctr1 {
    grid-area: ctr1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: column;
    border-bottom: 1px solid var(--bdr);
    grid-auto-flow: column;
    overflow: none;
}

.item4 {
    width: 10px;
    height: 10px;
    border: 1px solid white;
    border-radius: 50%;
    align-self: center;
    justify-self: center;
}

.fwd {
    border: solid var(--bdr);
    border-width: 1px 0 1px 0;
    grid-area: nav;
    display: grid;
    grid-template-columns: 1fr 1.7fr 1fr;
}

.circles-fwd {
    height: 30px;
    width: 30px;
    justify-self: center;
    align-self: center;
    border-radius: 50%;
}

.circles-fwd:hover {
    height: 28px;
    width: 28px;
}

.circles-fwd:active {
    height: 30px;
    width: 30px;
}

.home-fwd{
    height: 30px;
    width: 100%;
    border: 1px solid white;
    border-radius: 5px;
    justify-self: center;
    align-self: center;
    background-image: url(./home-free-large.svg);
    transition: background-image 3s ease-out;
}

.home-fwd:hover {
    background-color: #ffffff11;
    background-image: url(./AI-logo-20.svg);
}

.home-fwd:active {
    background-color: #00000011;
}

.content-pane {
    grid-area: main;
    overflow-y: scroll;
    margin: 0;
    border: solid var(--bdr);
    border-width: 0 1px 0 1px;
    box-shadow: inset 0px 0px 20px black;
    user-select: all;
}

.content {
    position: relative;
    width: 100%;
    z-index: -1;
}

.hidden {
    display: none;
}

.visible {
    display: grid;
}